@import "variables";

.nav-wrapper{
  background: white;
  border-bottom: 5px solid $primary;
}

.nav-wrapper li a{
  color: $primary;
  font-weight: bold;
}

body{
  font-family: 'Orbitron', sans-serif;
  background: $primary;
  color: white;
}

input, label, h5, p{
  color: white;
}


.btn-primary {
  background: white;
  color: $primary;
}

.btn-primary:hover {
  background: lightskyblue;
  color: white;
}

.brand-logo{
  margin-top: 2px;
  margin-bottom: 2px;
}

.teams-flag{
  max-width: 2.5rem;
  padding: 1px;
  position: relative;
  top: 8px;
}

.teams-competition-flag{
  max-width: 10rem;
  float: right;
  margin-bottom: -1rem;
  margin-top: -3rem;
}

.teams-name{
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.modal-footer{
  height: 90px;
}

.competition-link li{
  color: black;
  transition: .3s;
}

.collection-header h4 {
  color: $primary;
}

.collection .collection-item {
  background: transparent;
}

.collection-item-competition:hover{
}

.modal-content h4 {
  color: $primary;
}

li {
  list-style: none;
}

.competition-detail h5{
  font-weight: bold;
  text-align: center;
}

.competition-detail p{
  text-align: center;
}

.centered{
  float: none;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.text-center {
  text-align: center;
}

.tabs .tab a, a.active {

  background: $primary;
  border-color: $primary;
  color: white;

  &:hover{
    color: white;
  }
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $primary;
  background: white;
  border-color: $primary;
}

.tabs .indicator {
  background-color:white;
}

table tr{
  border-bottom: 1px solid white;
}

.teams-row-0,.teams-row-1,.teams-row-2,.teams-row-3{
  background: seagreen;
}

.teams-row-7{
  background: darkred;
}

.group-team-image{
  max-width: 2rem;
}